/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.home-page {
  background-color: #F4EFEB;
  width: 100%;
  height: 100vh;
}
.login, .signup {
  padding-top: 300px;
}