/* 
font-family: 'Caveat Brush', cursive;
font-family: 'Shadows Into Light Two', cursive; 

Colors:
  #F4EFEB - claro
  #FFB109 - amarillo
  #FA6D09 - naranja
  #D52C05 - rojo
  #250601 - marrón rojizo
  #3F3F3F - gris oscuro

*/

/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

/* ---------------- GENERAL ---------------- */

body {
  font-family: 'Shadows Into Light Two', cursive; 
  font-size: 1.5em;  
  margin: 0;
  padding: 0;
  background-color: #F4EFEB ;
  color: #3F3F3F;
}

h1, h2 {
  text-align: center;
}
/* 
.container {
  padding: 5px 15px;
} */

.btn,
/* button, */
input[type='button'],
input[type='reset'],
input[type='submit'].btn 
{
  background-color: #FA6D09;
  border-radius: 10px;
  border: 1px solid #D52C05;
  color: #fff;
  text-shadow:   1px 1px #3f3f3f; 
  cursor: pointer;
  font-size: 18px;
  letter-spacing: 0.1em;
  height: 2.2rem;
  width: 150px;
  text-align: center;
  text-decoration: none;
  /* text-transform: uppercase; */
  font-family: 'Shadows Into Light Two', cursive; 
  background:    linear-gradient(#d52c05, #ffb109);
}

input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
textarea,
select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: .4rem;
  box-shadow: none;
  box-sizing: inherit;
  height: 2rem;
  padding: .2rem .6rem;
  width: 90%;
  font-family: 'Shadows Into Light Two', cursive; 
  font-size: 22px;
  border: 1px solid #3F3F3F;
  display: inline-block;
  text-align: center;
  color: rgb(114, 113, 113);
}

input:select {
  border: 1px solid #FA6D09;
}

input.submit-btn {
  width: 100px;
}

.bold {
  text-shadow: 1px 1px #3F3F3F;
}

/* -------------------- HOME -------------------- */

.home-page {
  padding: 5px 15px;
}

img.logo {
  width: 100%;
  margin-top: 50px
}

h2.info {
  margin: 15px 0 20px 0;
  /* font-size: 1em; */
  color: #FA6D09 ;
  /* text-shadow:   1px 1px #3F3F3F  */
}

label.log-sign-label {
  text-align: left;
  font-size: 22px;
  text-shadow: .5px .5px #3F3F3F ;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input, .input-submit {
  margin: 25px 0;
}

.input-submit {
  text-align: center;
}

p.log-sign {
  font-size: 18px;
  text-align: center;
}

.toggle-sign-log {
  color: #FA6D09 ;
}

/* ------------------- NAVBAR- ------------------ */

.nav-bar {
  display: flex;
  justify-content: space-between;
  background-color: #3F3F3F;
  widows: 100%;
  color: #F4EFEB;
  padding: 5px 10px;
}

.nav-bar p {
  margin: 5px 0;
}

.hello-user {
  font-size: 1.2em;
  text-transform: capitalize;
  text-shadow:   1px 1px #FA6D09;
}

/* ------------------- PROFILE ------------------ */

.user-info {
  text-align: center;
}

.icon {
  width: 30px;
}

.icons {
  display: flex;
  justify-content: center;
}

.quote {
 text-align: center;
 text-shadow:   1px 1px #FA6D09;
}

.quote h3 {
  margin: 5px 0;
}

.quote input.input {
  background: transparent;
  border: none;
  font-style: italic;
}

input.edit-btn {
  
  width: 15%;

}

.user-info h2 {
  text-shadow:   2px 2px 2px #3f3f3f;
  color: #FA6D09;
  text-transform: capitalize;
}

.info-container {
  text-align: center;
}

.info-container p, .info-container h4 {
  margin: 4px 0;
}

.profile-btns .btn {
  margin: 25px 15px 10px 20px;
}

.create-game-form {
  text-align: center;
  padding-bottom: 15px;
}
/* ----------------- CREATE GAME ---------------- */

/* ------------------ JOIN GAME ----------------- */
